{% extends 'index.html' %} {% load static %} 

{% block title %} Words embedding {% endblock title %} 

{% block header %} What is words embedding {% endblock header %} 



{% block paragraph %} 

<p>
    In very simplistic terms, Words Embedding are the texts converted into numbers and there may be different numerical representations of the same text. But before we dive into the details of Word Embeddings, the following question should be asked – Why do we need Word Embeddings?
</p>

<div class="list-group">

    <a href="{% url 'nearest' %}" class="list-group-item list-group-item-action">Nearest words using words embeddings</a>
    <a href="{% url 'math' %}" class="list-group-item list-group-item-action">Understanding analogies</a>

  </div>
{% endblock paragraph %} 


 {% block content %}
   
<h1>Why words embedding ?</h1>

<p>As it turns out, many Machine Learning algorithms and almost all Deep Learning Architectures are incapable of processing strings or plain text in their raw form. They require numbers as inputs to perform any sort of job, be it classification, regression etc. in broad terms. And with the huge amount of data that is present in the text format, it is imperative to extract knowledge out of it and build applications. Some real world applications of text applications are – sentiment analysis of reviews by Amazon etc., document or news classification or clustering by Google etc.</p>



{% endblock content %}

