{% extends 'index.html' %}

{% load static %}

{% block title %}
    Word embeddings ( Math with Words )
{% endblock title %}

{% block header %}
    Word embeddings ( Math with Words )
{% endblock header %}


{% block content %}

        
    <h1> Words embeddings </h1>
    

    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label for="exampleInputEmail1">{{ field.label }}</label>
                {{ field}}     
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>



    {% if word %}

    <table class="table">
        <thead>
            <tr>

              <th scope="col">Closest words</th>

            </tr>

          </thead>

          <tbody>

            {% for item in word  %}
            <tr><td> {{item}}</td></tr>
            {% endfor %}

            </tbody>

      </table>
    {% endif %}
    
    

{% endblock content %}






{% block scripts %}

{% endblock scripts %}

